[submodule "ref/workers-rs"]
	path = ref/workers-rs
	url = https://github.com/cloudflare/workers-rs.git
	branch = main
[submodule "ref/nbc-hft-simulation"]
	path = ref/nbc-hft-simulation
	url = https://github.com/carterj-c/NBC_HFT_Simulation.git
	branch = main
[submodule "ref/ironfix"]
	path = ref/ironfix
	url = https://github.com/joaquinbejar/IronFix.git
	branch = main
[submodule "ref/fixer"]
	path = ref/fixer
	url = https://github.com/fixer-rs/fixer.git
	branch = master
[submodule "ref/ferrumfix"]
	path = ref/ferrumfix
	url = https://github.com/ferrumfix/ferrumfix.git
	branch = main
[submodule "ref/nautilus-trader"]
	path = ref/nautilus-trader
	url = https://github.com/nautechsystems/nautilus_trader.git
	branch = develop
[submodule "ref/wirefilter"]
	path = ref/wirefilter
	url = https://github.com/cloudflare/wirefilter.git
	branch = master
[submodule "ref/orderbook-rs"]
	path = ref/orderbook-rs
	url = https://github.com/joaquinbejar/OrderBook-rs.git
	branch = main
[submodule "ref/liquibook"]
	path = ref/liquibook
	url = https://github.com/enewhuis/liquibook.git
	branch = master
[submodule "ref/exchange-core"]
	path = ref/exchange-core
	url = https://github.com/exchange-core/exchange-core.git
	branch = master
[submodule "ref/cqrs"]
	path = ref/cqrs
	url = https://github.com/serverlesstechnology/cqrs.git
	branch = main
[submodule "ref/nexosim"]
	path = ref/nexosim
	url = https://github.com/asynchronics/nexosim.git
	branch = main
[submodule "ref/abides"]
	path = ref/abides
	url = https://github.com/abides-sim/abides.git
	branch = master
[submodule "ref/quickfixj"]
	path = ref/quickfixj
	url = https://github.com/quickfix-j/quickfixj.git
	branch = master
[submodule "ref/market-maker-rs"]
	path = ref/market-maker-rs
	url = https://github.com/joaquinbejar/market-maker-rs.git
	branch = main
[submodule "ref/barter-rs"]
	path = ref/barter-rs
	url = https://github.com/barter-rs/barter-rs.git
	branch = main
[submodule "ref/slotmap"]
	path = ref/slotmap
	url = https://github.com/orlp/slotmap.git
	branch = master
[submodule "ref/intrusive-rs"]
	path = ref/intrusive-rs
	url = https://github.com/Amanieu/intrusive-rs.git
	branch = master
[submodule "ref/rand"]
	path = ref/rand
	url = https://github.com/rust-random/rand.git
	branch = master
[submodule "ref/postcard"]
	path = ref/postcard
	url = https://github.com/jamesmunns/postcard.git
	branch = main
[submodule "ref/proptest"]
	path = ref/proptest
	url = https://github.com/proptest-rs/proptest.git
	branch = main
[submodule "ref/pricelevel"]
	path = ref/pricelevel
	url = https://github.com/joaquinbejar/PriceLevel.git
	branch = main
[submodule "ref/option-chain-orderbook"]
	path = ref/option-chain-orderbook
	url = https://github.com/joaquinbejar/Option-Chain-OrderBook.git
	branch = main
[submodule "ref/ironsbe"]
	path = ref/ironsbe
	url = https://github.com/joaquinbejar/IronSBE.git
	branch = main
[submodule "ref/fauxchange"]
	path = ref/fauxchange
	url = https://github.com/joaquinbejar/fauxchange.git
	branch = main
